.latencymon-content{
    margin: auto;
    padding-top: 4px;
    min-height: 300px;
    font-size: 10px;
    font-family: sans-serif;
    position: relative;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
    line-height: normal!important;
    border-radius: 4px;
    box-sizing: content-box!important;
    min-width: 860px!important;
}

.chart-item{
    /*background-repeat: ;*/
    background: url('../img/latencymon_watermark.png') no-repeat 60px 10px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


.area{
    opacity: 0.1
}

.area.min{
    fill: #00A83E;
}

.area.avg{
    fill: #f7e86a;
}

.area.max{
    fill: #ED6F6F;
}


.dot {
    /*fill: white;*/
    /*stroke: steelblue;*/
    stroke-width: 1px;
    cursor: pointer;
}

.fill-normal-dot.max{
    fill: white;
}

.fill-normal-dot{
    fill: white;
}

.fill-cut-dot.min{
    fill: rgba(115, 167, 100, 0.38);
}
.fill-cut-dot.avg{
    fill: #E67A0E;
}
.fill-cut-dot.max{
    fill: rgba(176, 32, 32, 0.38);
}

.dot.min{
    stroke: #507546;
}

.dot.avg{
    stroke: #E67A0E;
}

.dot.max{
    stroke: #B02020;
}



.line {
    fill: none;
    stroke-width: 1px;
}

.comparison-line{
    fill: none;
    cursor: pointer;
}

.line.min{
    stroke: #66965A;
}

.line.avg{
    stroke: #FFAA3B;
}

.line.max{
    stroke: #F75E14;
}

.info-label.min{
    color: #00A83E;
}

.info-label.avg{
    color: #FFAA3B;
}

.info-label.max{
    color: #F75E14;
}

.probe-single-chart{
    width: 98%;
    position: relative;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 2px rgba(179, 179, 179, 0.37);
}

.probe-multi-chart{
    width: 98%;
    position: relative;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 2px rgba(179, 179, 179, 0.37);
}

.probe-single-info{
    font-size: 10px;
    position: absolute;
    border-left: 1px dashed #C0C0C0;
    right: 0;
    top: 8px;
    text-shadow: 1px 1px 3px #C0C0C0;
}

.probe-single-info .probe-info-line{
    width: 98%;
    margin-left: 3px;
    text-align: left;
}

.probe-multi-info{
    font-size: 10px;
    position: absolute;
    border-left: 1px dashed #C0C0C0;
    right: 0;
    top: 8px;
    text-shadow: 1px 1px 3px #C0C0C0;
}

.probe-multi-info .probe-info-line{
    width: 98%;
    margin-left: 3px;
    text-align: left;
}

.loading-image{
    position: absolute;
    top: 40%;
    left: 49%;
}

.drag-icon{
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
}

.delete-icon{
    position: absolute;
    right: 22px;
    top: 3px;
    cursor: pointer;
}

.explode-icon{
    position: absolute;
    right: 40px;
    top: 3px;
    cursor: pointer;
}



.chart-placeholder {
    width: 96%;
    height: 100px;
    background: rgba(179, 179, 179, 0.37);
    position: relative;
    margin: auto;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 0 0 10px 5px rgba(179, 179, 179, 0.37);
}

.time-cursor{
    stroke: rgb(37, 40, 169);
    stroke-width: 2;
    opacity: 0.2;
}

.probe-hover-popup{
    width: 220px;
    height: 180px;
    background-color: #FFFFFF;
    border-radius: 6px;
    opacity: 0.95;
    box-shadow: 1px 1px 1px 2px rgba(179, 179, 179, 0.37);
    position: absolute;
    z-index: 100000;
    padding: 5px;
    line-height: 1.5;
    font-size: 13px;
    display: none;
}

.first-line{
    font-weight: bold;
    font-size: 13px;
}

.ui-resizable-helper { border: 1px dashed rgba(38, 38, 38, 0.80); }

.packet-loss-line {
    fill: red;
    stroke: red;
    stroke-width: 1;
}

.tick line{
    opacity: 0.1;
    fill: gray;
    stroke: gray;
}

.control-panel{
    z-index: 4;
}

.button-group .left-bar .button{
    border-right: 1px solid #C0C0C0;
    float: left;
}

.button-group .right-bar .button{
    border-left: 1px solid #C0C0C0;
    float: right;
}

.control-panel .button{
    width: 26px;
    text-align: center;
    cursor: pointer;
}

.control-panel .legend{
    width: 310px;
    float: left;
    margin-top: 3px;
    margin-left: 3px;
    text-shadow: 1px 1px 2px #C0C0C0;
}

.button-group {
    height: 26px;
    width: 98%;
    border: 1px solid #CCC;
    margin-left: 11px;
    padding: 4px 4px 2px 4px;
    display: inline-block;
    background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D0D0D0));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #D0D0D0);
    background-image:    -moz-linear-gradient(top, #FFFFFF, #D0D0D0);
    background-image:      -o-linear-gradient(top, #FFFFFF, #D0D0D0);
    background-image:         linear-gradient(to bottom, #FFFFFF, #D0D0D0);
    border-radius: 5px;
}


.dropdown-panel{
    width: 950px;
    position: absolute;
    top: 29px;
    left: 40px;
    background: #fdfdfd;
    z-index: 1000000!important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 1px 2px rgba(179, 179, 179, 0.37);
    overflow: hidden;
}

.footer-dropdown-panel{
    width: 100%;
    height: 56px;
    position: absolute;
    bottom: 0;
    background: #eaeaea;
    border-top: 1px solid #CCC;
    text-align: right;
}

.footer-dropdown-panel button{
    margin-top: 10px;
    margin-right: 20px;
    position: relative;
}

.header-dropdown-panel{
    font-size: 18px;
    margin: 10px;
    margin-bottom: 2px;
    margin-top: 8px;
    width: 90%;
    float: left;
    text-shadow: 1px 1px 1px #C0C0C0;
}

.content-dropdown-panel{
    margin: 10px;
    margin-top: 0;
    line-height: 2;
}

.probe-list{
    font-size: 14px;
}

.group-name{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 285px;
    font-weight: bold;
    font-size: 14px;
}

.group-name input{
    font-weight: normal;
    display: inline!important;
    width: 150px;
}



.time-overview-container{
    position: relative;
    overflow: hidden;
}


.time-overview .axis text {
    font: 11px sans-serif;
}

.time-overview .axis path {
    display: none;
}

.time-overview .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.time-overview .grid-background {
    fill: #C0C0C0;
    stroke: rgba(46, 46, 46, 0.40);
    stroke-width: 1px;
}

.time-overview .grid line,
.time-overview .grid path {
    fill: none;
    stroke: #FFFFFF;
    shape-rendering: crispEdges;
    opacity: 1;
}

.time-overview .grid .minor.tick line {
    stroke-opacity: 1;
}

.time-overview .brush .extent {
    stroke: #4a71ad;
    stroke-opacity: 0.9;
    fill: #4a71ad;
    fill-opacity: 0.4;
    shape-rendering: crispEdges;
}

.time-overview-external-container{
    overflow: hidden!important;
}


.time-overview-dom{
    margin: 12px;
}


.selection-rect{
    fill: #398bff;
    opacity: 0;
}


.get-last-data-sliding-panel > div{
    width: 15px;
    margin-left: 7px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 1px 1px #C0C0C0;
    cursor: pointer;
}

.sliding-panel{
    position: absolute;
    width: 30px;
    height: 0;
    display: none;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    background-color: #FFFFFF;
    z-index: 1000;
}

.probe-info-dialog{
    left: 50%!important;
    margin-left: -475px;
    font-size: 16px;
}

.measurement-id{
    clear: both;
}

@keyframes blinkGreen {
    from { background-color: #6ca100; }
    50% { background-color: #aaff03; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #6e9f01 0 -1px 9px, #6ca100 0 2px 0; }
    to { background-color: #6ca100; }
}

.led-green {
    width: 12px;
    height: 12px;
    background-color: #74ad00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #3b5801 0 -1px 9px, #74ad00 0 2px 12px;
}

.led-red{
    width: 12px;
    height: 12px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.led-box{
    margin-top: 3px;
    margin-right: 60px;
    margin-left: 4px;
    float: right;
}

.streaming-label{
    float: right;
    font-family: sans-serif;
    margin-top: 2px;
    text-shadow: 1px 1px 2px rgba(255,255,255,1);
    font-size: 12px;
    font-weight: bold;
    color: #828282
}

.pagination{
    display: inline!important;
    font-size: 10px!important;
}

.loading-image{
    display: none;
    position: absolute;
    padding: 2px;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid #C0C0C0 !important;
    background-color: #FFFFFF;
    overflow: hidden;
    border-radius: 20px;
    z-index: 1000000;
}

.error-message{
    text-align: center;
    z-index: 1000000000;
    position: absolute;
    top: 100px;
    left: 42%;
    opacity: 0.7;
    text-shadow: 1px 1px 3px #C0C0C0;
    font-size: 26px;
    width: 200px;
    height: 40px;
    display: none;
    line-height: 28px;
}

.info-header{
    height: 18px;
    width: 100%;
    margin-bottom: -8px;
    background: transparent;
    font-size: 12px;
    text-shadow: 1px 1px 3px #C0C0C0;
    color: #7a7a7a;
    padding-top: 2px;
}

.info-header .left-info{
    width: 500px;
    float: left;
    margin-left: 25px;
    text-align: left;
    height: 15px;
    overflow: hidden;
}

.info-header .right-info{
    width: 260px;
    float: right;
    margin-right: 25px;
    text-align: right;
}


.latencymon-footer{
    width: 100%;
    height: 16px;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
}

.footer-item{
    float: right;
    margin-left: 8px;
    margin-right: 8px;
}

.nodata{
    text-decoration: line-through;
}

.probe-listed{
    cursor: pointer;
}

.table-info-probe{
    margin: auto!important;
    /*width: 800px!important;*/
    margin-top: 20px!important;
    margin-bottom: 10px!important;
}


/* Bootstrap Hacks */
.pagination li{
    display: inline !important;
}