.tracemon-content{
    margin: auto;
    min-height: 1024px;
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    position: relative;
    background: #FFFFFF;
    line-height: normal!important;
    box-sizing: content-box!important;
    min-width: 860px!important;
}

.blubble{
    border-radius: 4px;
    border: 1px solid #C0C0C0;
}
.bubble-one{
    border-bottom: none;
}

.bubble-two{
    margin-top: 0;
    border-top: none;
}

.tracemon-search {
    width: 250px!important;
    float: right;
    display: block;
}

.node {
    fill: #EDD37B;
    stroke-width: 1;
    stroke: #93999a;
}

.node.ixp {
    fill: #6C8CEB;
}

.node.source {
    fill: #90d272;
}

.node.null {
    fill: #c9c9c9;
}

.node.private {
    stroke-dasharray: 4,4;
    /*fill: rgba(255, 228, 135, 0.33);*/
}

.edge {
    stroke: #C0C0C0;
    stroke-width: 8;
    opacity: 0.5;
    fill: none;
}

.path {
    stroke: #C0C0C0;
    stroke-width: 6;
    opacity: 0.6;
    fill: none;
}

.path[data-hover] {
    stroke-width: 14px!important;
    cursor: pointer;
    opacity: 1!important;
}
.node[data-hover] {
    opacity: 1!important;
}

.path[data-animation] {
    stroke-width: 10px!important;
    cursor: pointer;
    opacity: 1!important;
}

.node[data-animation] {
    opacity: 1!important;

}


.path[data-focus-out] {
    opacity: 0.1!important;
}
.node[data-focus-out] {
    opacity: 0.1!important;
}
.node-label[data-focus-out] {
    opacity: 0.1!important;
}

.node-label {
    opacity: 0.8;
    fill: #454545;
    font-weight: bold;
    font-size: 10px!important;
}

.dot.direction {
    fill: white;
}

.loading-image{
    position: absolute;
    top: 40%;
    left: 49%;
}

.tracemon-svg {
    width: 100%;
    height: 200px;
}


.error-message{
    text-align: center;
    z-index: 1000000000;
    position: absolute;
    top: 100px;
    left: 42%;
    opacity: 0.7;
    text-shadow: 1px 1px 3px #C0C0C0;
    font-size: 26px;
    width: 300px;
    height: 40px;
    display: none;
    line-height: 28px;
}

/* Bootstrap Hacks */
.pagination li{
    display: inline !important;
}


/*!* css for timepicker *!*/
/*.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }*/
/*.ui-timepicker-div dl { text-align: left; }*/
/*.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }*/
/*.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }*/
/*.ui-timepicker-div td { font-size: 90%; }*/
/*.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }*/

/*.ui-timepicker-rtl{ direction: rtl; }*/
/*.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }*/
/*.ui-timepicker-rtl dl dt{ float: right; clear: right; }*/
/*.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }*/

/*.ui-icon-gripsmall-diagonal-se{ !*Workaround for jquery-ui bug*!*/
/*background-position: -64px -224px !important;*/
/*bottom: 0 !important;*/
/*right: 0 !important;*/
/*}*/

.tracemon-footer{
    width: 100%;
    height: 16px;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
}

.footer-item{
    float: right;
    margin-left: 8px;
    margin-right: 8px;
}

.tracemon-title {
    width: 50%;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 0;
}

.tracemon-right-controllers {
    width: 800px;
    height: 100%;
    padding-right: 10px;
    position: absolute;
    right: 0;
}

.tracemon-header {
    border-bottom: 1px solid #C0C0C0;
    position: relative;
    height: 40px;
    padding-top: 3px;
}

.tracemon-subheader {
    border-bottom: 1px solid #c0c0c0;
    position: relative;
    overflow: auto;
}

.tracemon-subheader .controller-line-right {
    margin: 5px 5px 5px 10px;
    float: right;
    width: 45%;
    text-align: right;
}

.tracemon-subheader .label-level{
    margin-top: 0!important;  /*bootstrap fix*/
}



.tracemon-subheader .controller-line-left {
    margin: 5px 5px 5px 10px;
    float: left;
    width: 45%;
}

.padded-text {
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.input-label {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 11px;
    font-weight: bold;
}

.right-controller {
    float: right;
    display: inline;
    margin-left: 10px;
    height: 100%;
    min-width: 120px;
}

.value-slider {
    font-weight: normal;
}

.bootstrap-slider{
    height: 100%;
}



.btn-group > .btn:first-of-type {
    margin-left: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
.btn-group > .btn:last-of-type,
.btn-group > .dropdown-toggle {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}




.dropdown-panel{
    width: 950px;
    position: absolute;
    top: 90px;
    left: 50%!important;
    margin-left: -475px;
    background: #fdfdfd;
    z-index: 1000000!important;
    border-radius: 5px;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 1px 2px rgba(179, 179, 179, 0.37);
    overflow: hidden;
    display: none;
}

.footer-dropdown-panel{
    width: 100%;
    height: 56px;
    position: absolute;
    bottom: 0;
    background: #eaeaea;
    border-top: 1px solid #CCC;
    text-align: right;
}

.footer-dropdown-panel button{
    margin-top: 10px;
    margin-right: 20px;
    position: relative;
}

.header-dropdown-panel{
    font-size: 18px;
    margin: 10px;
    margin-bottom: 2px;
    margin-top: 8px;
    width: 90%;
    float: left;
    text-shadow: 1px 1px 1px #C0C0C0;
}

.content-dropdown-panel{
    margin: 10px;
    margin-top: 0;
    line-height: 2;
}

.probe-list{
    font-size: 14px;
}

.clickable {
    text-decoration: underline;
    font-weight: bold;
    color: #7e7e7e;
    cursor: pointer;
}

.empty-probe {
    text-decoration: line-through;
}

.range-timeline {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.latencymon-content {
    min-height: 0!important;
}

.time-selection-cone{
    height: 50px;
    width: 100%;
}

.chart-svg {
    /*fill: transparent!important;*/
}

.cone-time-boundaries{
    stroke: #C0C0C0;
    stroke-width: 1px;
    /*stroke-dasharray: 3, 3;*/
    fill: white;
}

.timeline-controller{
}

.legend_latencymon {
    margin-left: 80px;
}

.legend_latencymon img {
    border: 1px solid #C0C0C0;
}

.legend_latencymon span {
    margin-right: 10px;
}

.traceroute-text{
    width: 98%;
    height: 200px;
    padding: 5px;
    margin-left: 5px;
}

.close-traceroute{
    position: absolute;
    top: 0;
    right: 3px;
}

.search-box {
    font-size: 14px;
}

.search-box-field{
    width: 100%;
    border-right: 0;
    height: 100%;
}

.select2-selection__rendered {
    height: 30px;
    overflow-y: hidden;
}

.select2-selection__choice{

}

.select2-container--open{
    width: 800px!important;
    position: absolute!important;
    right: 39px!important;
    z-index: 100;
}
