{{#errors.length}}
    <span class='node-error'>
        {{#errors}}{{.}}<br>{{/errors}}
    </span><br>
{{/errors.length}}

{{#multiplicity.show}}
    Repeated {{multiplicity.value}} times<br>
{{/multiplicity.show}}

{{#ip}}
    IP: {{ip}}<br>
{{/ip}}

{{#ixp}}
    IXP: {{ixp.name}}, {{ixp.city}}, {{ixp.country}}<br>
    Lan: {{ixp.prefix}}<br>
{{/ixp}}



Located in: {{#location}}{{#location.city}}{{location.city}},{{/location.city}} {{location.countryCode}}<br>{{/location}}{{#location}}[change]{{/location}}{{^location}}Not available [update]{{/location}}


{{#as}}
    <br>
    <b>{{#isGuess}}Best Guess{{/isGuess}} {{^isGuess}}Routing Info{{/isGuess}}:</b>
    <br>
    {{as.id}} - {{as.owner}}
    <br><br>
    <b>Registry info:</b>
    <br>
    Announced: {{#as.announced}}Yes{{/as.announced}}{{^as.announced}}No{{/as.announced}}
    {{#asExtras.length}}
    <br>
    {{#asExtras}}{{.}}<br>{{/asExtras}}
    {{/asExtras.length}}
    {{/as}}

{{^as}}
    <br> No AS information available for this node
{{/as}}

<br>
<div class="footer-popover-buttons">
    <button type="button" class="action-button btn btn-primary btn-sm" data-target="{{id}}" data-name="action-contact">Contact owner</button>
    <button type="button" class="action-button btn btn-primary btn-sm" data-target="{{id}}" data-name="action-whois">Whois</button>
    <button type="button" class="action-button btn btn-primary btn-sm" data-target="{{id}}" data-name="action-bgp">See BGP events</button>
</div>
