<div class="tracemon-content">
    <img src="{{env.widgetUrl}}view/img/loading2.gif" class="loading-image" style="left: 50%; top: 50%; display: none;">
    <div class="error-message"></div>
    <div class="blubble bubble-one">
        <div class="tracemon-header">
            <div class="tracemon-title">
                <div class="padded-text">{{lang.title}}</div>
            </div>
            <div class="tracemon-right-controllers">

                <div class="right-controller tracemon-search">
                    <div>{{>search}}</div>
                </div>

                <div class="right-controller  bootstrap-slider reproduction-speed">
                    <div class="input-label">Speed: <span class="value-slider">{{env.reproductionSpeed}}</span></div>
                    <input type="text"/>
                </div>

                <div class="right-controller bootstrap-slider hops-number" style="display: none">

                    <div class="input-label">Hops: <span class="value-slider">{{maxPossibleHops}}</span></div>

                    <input type="text" class="hops-number-slider"/>

                </div>

                <div class="btn-group right-controller" role="group" aria-label="...">
                    <button type="button" class="bwd-button btn btn-primary"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></button>

                    <button type="button" class="play-button btn btn-primary"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                    <button type="button" class="pause-button btn btn-primary"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>

                    <button type="button" class="ffwd-button btn btn-primary"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></button>
                </div>

            </div>
        </div>
        {{>probes-selection}}
        <div class="tracemon-subheader">
            <div class="controller-line-left">
                Traceroutes to <span class="value-target">{{values.target}}</span> from <span class="value-number-probes">{{values.numberProbes}}</span> of <span class="value-total-probes">{{values.totalProbes}}</span> probes [<span class="clickable click-select-probe">select</span>]
                 at <span class="current-instant">{{env.finalQueryParams.instant}}</span>
            </div>


            <div class="controller-line-right">
                Nodes Label:
                <label class="radio-inline"><input type="radio" class="label-level" name="optradio" value="ip">{{lang.labelOptions.ip}}</label>
                <label class="radio-inline"><input type="radio" class="label-level" name="optradio" value="reverse-lookup">{{lang.labelOptions.reverseLookup}}</label>
                <label class="radio-inline"><input type="radio" class="label-level" name="optradio" value="geo">{{lang.labelOptions.country}}</label>
            </div>
            <!--<div class="controller-line-left">{{lang.hostGroupedBy}} {{>select-view}}</div>-->

            <div class="traceroute-output">
                <textarea class="traceroute-text"></textarea>
                <i class="glyphicon glyphicon-remove close-traceroute" data-dismiss="modal" aria-label="Close" ></i>
            </div>

        </div>
        <svg class="tracemon-svg"></svg>
        <div class="legend_latencymon">
            <span><img src="{{env.widgetUrl}}view/img/legend_normal.jpg"> {{lang.latency}}</span>
            <span><img src="{{env.widgetUrl}}view/img/legend_ps.jpg"> {{lang.traceroutesDontReach}}</span>
            <span><img src="{{env.widgetUrl}}view/img/legend_compps.jpg"> {{lang.allTraceroutesDontReach}}</span>
        </div>
        <div class="latencymon-chart"></div>
    </div>
    <svg class="time-selection-cone"></svg>
    <div class="blubble bubble-two">
        <div class="range-timeline">
            <div class="timeline-controller"></div>
        </div>
        <div class="tracemon-footer">
            <div class="tracemon-about footer-item">
            </div>
        </div>
    </div>

</div>