<div class="add-probe-panel dropdown-panel" style="height: 400px;">
    <div class="header-dropdown-panel" style="width: 70%;"></div>
    <div class="content-dropdown-panel">
        <table class="probe-list"></table>
    </div>

    <div class="footer-dropdown-panel">
        <button type="button" class="btn btn-default close-panel">Cancel</button>
        <button type="button" class="btn btn-success add-probe"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ok</button>
    </div>
</div>